.nav {
  background: $light-gray;
  height: 50px;
  @include flex (flex-end, center, row);
  &__login {
    font-size: 24px;
    color: $dark-gray;
    padding-right: 100px;
    cursor: pointer;
    transition: 300ms;
    &:hover {
      color: $gray;
    }
  }
}
