<div class="main">
     <nav class="nav">
          <ul class="nav__top-part">
               <li class="login">Log-in</li>
          </ul>
          <ul class="nav__bottom-part">
               <li class="nav__logo">
                    <%= image_tag "logo.png" %>
               </li>
               <li class="nav__search">
                    search
               </li>
               <li class="nav__burger">
                    <%= image_tag "burger.png" %>
               </li>
          </ul>
     </nav>
</div>